<div class="wrap">
<app-sidebar> </app-sidebar>

<div class="w" style="width: 100%; background-color: white;">
<h2>BIENVENUE SUR VITAL</h2>
<img class="haut" src="../../assets/prise.png" alt="">

<div class="container" style="display: flex; margin-top: -30px;">
<div >
    <div class="card" style="width: 18rem; margin-left: 50px;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">PHARMACIENS</h5>
          <p class="card-text" style="text-align: center;font-size: 25px;">12</p>
          <a href="#" routerLink="/list-pharm" class="btn" style="background-color: #0FA958;color: white; margin-left: 80px;">DETAILS</a>
        </div>
      </div>
</div>

<div>
    <div class="card" style="width: 18rem; margin-left: 170PX;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">UTILISATEURS</h5>
          <p class="card-text" style="text-align: center; font-size: 25px;">6</p>
          <!-- <a href="#" routerLinkActive="active" routerLink="/list-pharm"> -->
          <a href="#" routerLink="/list-users" class="btn" style="background-color: #0FA958;color: white;margin-left: 80px;">DETAILS</a>
        </div>
</div>
</div>
<div>
</div>
