.wrap{
    display: flex;
}
.haut{
    width: 40%;
    /* height: 300px; */
     margin-left: 30%; 
     /* margin-bottom: 25%;  */
    /* margin-top: 1%; */
}
h2{
    text-align: center;
    margin-top: 20px;
    font-size:50px ;
    color: #149B54;
    /* text-decoration: underline; */
    border-color: #149B54;
}
.container-fluid {

    --offset-bottom: auto !important;
    background: #F8F6FB;
    --overflow: hidden;
    overflow: auto;

    /* &::-webkit-scrollbar {
        display: none;
    } */
}

