<div class="wrap">
<app-sidebar> </app-sidebar>

<div class="w" style="width: 100%; font-family: 'Times New Roman', Times, serif; background-color: white;">
<h2>BIENVENUE SUR VITAL</h2>
<img class="haut" src="../../assets/prise.png" alt="">

<div class="container" style="display: flex; margin-top:0%; width: 50%; margin-right: 40%;">
<div >
    <div class="card" style="width: 18rem; margin-left: 50px; background-color: #0FA958;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title" style="text-align: center; color: white;">PHARMACIENS</h5>
          <p class="card-text" style="text-align: center;font-size: 25px; color: white;">{{totalpharm.length}}</p>
          <a href="#" routerLink="/list-pharm" class="btn" style="background-color: #0FA958;color: white; margin-left: 80px;">DETAILS</a>
        </div>
      </div>
</div>

<div>
    <div class="card" style="width: 18rem; margin-left: 170PX; background-color: #0FA958;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title" style="text-align: center; color: white;">UTILISATEURS</h5>
          <p class="card-text" style="text-align: center; font-size: 25px; color: white;">{{totaluser.length}}</p>
          <!-- <a href="#" routerLinkActive="active" routerLink="/list-pharm"> -->
          <a href="#" routerLink="/list-users" class="btn" style="background-color: #0FA958;color: white;margin-left: 80px;">DETAILS</a>
        </div>
</div>
</div>
<div>
</div>
