.wrap{
    display: flex;
}
h1{
    text-align: center;
    margin-top: 5%;
    color: #149B54;
}
.conte{
    padding: 30px;
}
.container-fluid {

    --offset-bottom: auto !important;
    background: #F8F6FB;
    --overflow: hidden;
    overflow: auto;

    /* &::-webkit-scrollbar {
        display: none;
    } */
}
.btn{
    margin-top: 3%;
}