<div class="container-fluid" style="overflow: hidden;">
  <div class="row flex-nowrap">
    <div id="sidebar" class="col-auto sidebar  collapse collapse-horizontal show" style="height: 100vh;">
      <nav class="">
        <header>
          <div class="image-text">
            <span class="image">
            </span>
            <div class="text logo-text ">
              <img src="../../assets/l.png" alt=""
                style="width: 120px; height: 120px; margin-left: -35px;margin-top: 10%;">
            </div>
          </div>
          <div class="ad">
            <h4 class="name">AOUA TRAORE</h4>
            <h6 class="designation">ADMINISTRATEUR</h6>
          </div>
        </header>
        <div class="menu-bar">
          <div class="menu" style="margin-top: 60px; ">
            <li class="nav-link">
              <a href="#" routerLinkActive="active" routerLink="/aaccueil">

                <i class="bi bi-house-door" style="color:#0FA958; font-size: 140%;"></i>
                <span class="text nav-text" style="margin-left: 20px; color: #0FA958;">ACCUEIL</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="#" routerLinkActive="active" routerLink="/list-users">
                <i class="bi bi-people" style="color:#0FA958; font-size: 140%;"></i>
                <span class="text nav-text" style="margin-left: 20px;  color: #0FA958;">UTILISATEURS</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="#" routerLinkActive="active" routerLink="/list-pharm">

                <i class="bi bi-heart-pulse" style="color: #0FA958; font-size: 140%;"></i>
                <span class="text nav-text" style="margin-left: 20px; color: #0FA958;">PHARMACIENS</span>
              </a>
            </li>
          </div>
          <div class="bottom-content">
            <li class="li" style="margin-bottom: 15%;">
              <a>
                <i class='bx bx-power-off icon' style="color:white"></i>
                <span class="text nav-text" routerLink="/login" (click)="logout"  >Déconnexion</span>
              </a>
            </li>
          </div>
        </div>
      </nav>
    </div>