<div class="wrap">
    <app-sidebar> </app-sidebar>
    
    <div class="w" style="width: 100%; background-color: white;">
<h2 class="text-center">LISTE DES UTILISATEURS</h2>

<!-- <button type="button" style="margin-left: 80%; width: 150px; height: 50px;" class="btn btn-primary btn-sm">Ajouter<div class="modal-dialog modal-sm"> -->
 
  <!-- </div></button> -->
<div class="row conte" style="margin-top: 8%;">
<table class="table">
    <thead>
      <tr>
        <th scope="col">NOM PRENOM</th>
        <th scope="col">NUMERO</th>
        <th scope="col">EMAIL</th>
        <!-- <th scope="col">ACTION</th> -->
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Aoua Traore</td>
        <td>91505867</td>
        <td>taoua14@gmail.com</td>
        <!-- <td>Action</td> -->
      </tr>
      <tr>
        <!-- <th scope="row">2</th> -->
        <td>Aoua Traore</td>
        <td>91505867</td>
        <td>taoua14@gmail.com</td>
      </tr>
      <tr>
        <td>Aoua Traore</td>
        <td>91505867</td>
        <td>taoua14@gmail.com</td>
      </tr>
      <tr>
        <td>Aoua Traore</td>
        <td>91505867</td>
        <td>taoua14@gmail.com</td>
      </tr>
      <tr>
        <td>Aoua Traore</td>
        <td>91505867</td>
        <td>taoua14@gmail.com</td>
      </tr>
    </tbody>
  </table>
</div>
<br>
</div>
</div>
