<div class="wrap">
    <app-sidebar> </app-sidebar>
    
    <div class="w" style="width: 100%; background-color: white;">
<h1 class="text-center" style="font-size: 180%; font-weight: bold ;">LISTE DES UTILISATEURS</h1>

<!-- <button type="button" style="margin-left: 80%; width: 150px; height: 50px;" class="btn btn-primary btn-sm">Ajouter<div class="modal-dialog modal-sm"> -->
 
  <!-- </div></button> -->
<div class="row conte" style="margin-top: 5%;"  >
<table class="table">
    <thead style="color: #149B54;">
      <tr>
        <th scope="col">NOM PRENOM</th>
        <th scope="col">NUMERO</th>
        <th scope="col">EMAIL</th>
        <!-- <th scope="col">ACTION</th> -->
      </tr>
    </thead>
    <tbody *ngFor="let tout of lesUsers">
      <tr>
        <td>{{tout.username}}</td>
        <td>{{tout.numero}}</td>
        <td>{{tout.email}}</td>
        <!-- <td>Action</td> -->
      </tr>
    </tbody>
  </table>
</div>
<br>
</div>
</div>
